docker run -p 3000:3000 `
  -e DB_HOST=dpg-d80f0h8g4nts73f6o3lg-a.oregon-postgres.render.com `
  -e DB_PORT=5432 `
  -e DB_USER=postgres_no7q_user `
  -e DB_PASSWORD=ibxQ2Cr244jklEEBV2iTqFWxlekJGole `
  -e DB_NAME=postgres_no7q `
  -e DB_SSL=true `
  -e PORT=5000 `
  todo-backend